
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<form method="post">
    <div class="container">  
        <br />
        <label>Mail Adresiniz</label>
        <input type="email" name="EmployeeMail" class="form-control" />
        <br />
        <label>Şifre</label>
        <input type="password" required="" name="EmployeePassword" class="form-control" />
        <br />
        <input type="checkbox"/> Beni Hatırla
        <br />
        <button class="btn btn-warning">Giriş Yap</button>

    </div>

</form>