
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />


<form method="post">
<div class="container">
    <h1>Kullanıcı Giriş Sayfası</h1>
    <label>Kullanıcı Adı</label>
    <input type="text" name="Username" class="form-control" />
    <br />
    <label>Şifre</label>
    <input type="password" name="Password" class="form-control" />
    <br />
    <input type="checkbox" class="action" /> Beni Hatırla
    <br />
    <button class="btn btn-warning">Giriş Yap</button>

</div>

</form>